{% extends 'base.html' %}
{% block content %}
<h4>*All data will pe pushed to MongoDB database Please enter valid credentials</h4>
 <div class="login">
	<h2>BULK_REGRESSION PREDICTION FROM MONGODB</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/bulk_regression" method="post">
        Username<input type="text" name="username" id="username"><br><br>
        Password<input type="password" name="mypassword"><br><br>
        Database Name<input type="text" name="DBname" id="DBname"><br><br>
        Collection Name<input type="text" name="collec_name" id="collec_name"><br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Load_and_predict_Temperature</button>
    </form>
   <br>
    <a href="{{url_for('home')}}">HOME_PAGE</a>

 </div>
 {{prediction_text}}

{% endblock %}